<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>L3SWH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
				<key>dateExpires</key>
				<string>2021/11/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MIBadgeButton_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>86C53F911AF658F052DAE0C7ECC31A25B366108F</string>
						<key>dateExpires</key>
						<string>2021/11/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C43ZQZ2B3M</string>
						<key>name</key>
						<string>Jiankai Duan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C43ZQZ2B3M.jp.co.l3swh.traapo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C43ZQZ2B3M</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>C43ZQZ2B3M.jp.co.l3swh.traapo</string>
				</array>
			</dict>
			<key>name</key>
			<string>L3SWH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f4f32b25-8d52-4a56-80ec-5cbf4f3a6661</string>
				<key>name</key>
				<string>l3swh_hoc_distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C43ZQZ2B3M</string>
				<key>name</key>
				<string>Jiankai Duan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
